*{
  background-color: rgb(37, 24, 9);
}
.main-container{
  color: rgb(249, 248, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 90px;
  border: 20px;
  box-sizing: border-box;
  padding: 30px;

}

.heading{
  color: rgb(166, 196, 186);
  display: flex;
  justify-content: center;
}