*{
  background-color: rgb(51, 28, 18);
}
.main-container{
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 90px;
  border: 20px;
  box-sizing: border-box;
  padding: 30px;

}

.heading{
  color: rgb(166, 196, 186);
  display: flex;
  justify-content: center;
  text-shadow: 40px solid black;
}