
.db-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: 80vh;
    color: aliceblue;
    background-color: rgb(198, 228, 207);
}