.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: 80vh;
    background-color: bisque;
}

.home-container button {
    width: 150px;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.home-container button:hover {
    background-color: #382ab5;
}

    