.container{
    display: flexbox;
    justify-content: center;
    justify-items: center;
    padding: 20px;
    border: 2px solid rgb(26, 19, 19);
    width: 200px;
}
.quantity{
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: larger;
}