body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #0f1c2f;
}
.screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-height: 80vh;  
    padding: 20px;
    border-radius: 10px;
}

h1, h2 {
    color: #333;
    margin: 0;
}

input[type="text"],
input[type="password"] {
    width: 250px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 180px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #0c2a0d;
    color: white;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #45a049;
}

.home-container {
    background-color: #ffe5b4;
}

.signup-container {
    background-color: #f9f9f9;
}

.registered-container {
    background-color: #d0f0c0; 
}

.login-container {
    background-color: #cce0ff; 
}

.dashboard-container {
    background-color: #fff0f5; 
}
input, button {
    margin-top: 10px;
    margin-bottom: 10px;
}
