.container{
    display: flexbox;
    justify-content: center;
    justify-items: center;
    padding: 20px;
    border: 2px solid rgb(245, 215, 215);
    width: 240px;
}
.quantity{
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: larger;
}
.btn{
    color: black;
    background-color: antiquewhite;
}